n8n/dashboard_workflow.json
{
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://vps-4455523-x.dattaweb.com/rose/api/auth/login",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "username",
              "value": "admin"
            },
            {
              "name": "password",
              "value": "admin"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -720,
        40
      ],
      "id": "bfaab0bf-4206-45b7-a127-933867c7e072",
      "name": "HTTP Request4",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vps-4455523-x.dattaweb.com/rose/api/users",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$json.token}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "username",
              "value": "=PruebaUsuario"
            },
            {
              "name": "password",
              "value": "pass123"
            },
            {
              "name": "name",
              "value": "PruebaUsuario8"
            },
            {
              "name": "bio",
              "value": "Usuario de prueba creado desde n8n"
            },
            {
              "name": "role",
              "value": "tester"
            },
            {
              "name": "isAdmin",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -360,
        20
      ],
      "id": "a7067cc2-cff5-45db-9475-e42d665c5b76",
      "name": "HTTP Request5",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "08e65266-e7cc-4c6b-8843-7cb8f9250d6e",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -220,
        20
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "boolean": [
            {
              "name": "success",
              "value": true
            }
          ],
          "string": [
            {
              "name": "message",
              "value": "=User created successfully with ID: {{$json.body._id}}"
            }
          ],
          "number": [
            {
              "name": "statusCode",
              "value": 201
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        0,
        -40
      ],
      "id": "ca151670-704d-4316-a3de-e4e94a025430",
      "name": "Set Success Response2"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "boolean": [
            {
              "name": "success"
            }
          ],
          "string": [
            {
              "name": "message",
              "value": "={{$json.body.message || 'Error creating user'}}"
            }
          ],
          "number": [
            {
              "name": "statusCode",
              "value": "={{$json.statusCode}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -20,
        120
      ],
      "id": "e960fd54-5c47-41d8-9059-235cfd84da05",
      "name": "Set Error Response1"
    },
    {
      "parameters": {
        "content": "## CREATE USER",
        "height": 320,
        "width": 600,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -420,
        -60
      ],
      "id": "2c557f25-1946-4959-a942-49446ff8599b",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## ADMIN VALIDATION\n\n",
        "height": 320,
        "width": 300,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -800,
        -60
      ],
      "id": "fe676a4d-b2a1-4b80-9806-598617181ed8",
      "name": "Sticky Note6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        120,
        120
      ],
      "id": "b537c902-118b-4b6c-bccd-677ab6359fb5",
      "name": "When Executed by Another Workflow"
    }
  ],
  "connections": {
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Set Success Response2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Error Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "919e96d1e977fb9355092c3c317df2deed08af20cde05c8987b8216daea6fe6b"
  }
}